* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

.brand-space {
	margin-right: 30px;
	font-size: 60px;
	background-color: #fffff2;
	color: black !important;
	border-radius: 20%;
	height: px;
	font-family: ;
	line-height: 0.90em;
}

.navspace {
	margin-right: 20px;
	font-size: 30px;

}

.home-page {
	background-image: url(./assets/images/derek-story-1Pzhr6XPl6k-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: ;
	background-color: ;
}

.portfolio-page {
	background-image: url(./assets/images/priscilla-du-preez-rhva4q_n8CQ-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: ;
	background-color: ;
}

.music-container1 {
	background-color: rgba(149, 165, 166, .5);
	padding-right: ;
	border-radius: ;
	display: flex;
	flex-direction: column;
	width: ;
	padding-left: ;
	margin: ;
	justify-content: center;
/*	border: 2px solid black;
*/}

.music-1-pic {
	max-width: 100%;
	max-height: 100%;
/*	max-height: 50%;
*/	border-radius: ;
	margin:;
	padding-top: 20px;
}

.audio-1 {
	margin: auto;
}

.music-desc {
	color: #fffff2;
	text-align: center;
	padding-top: 10px;
	background-color:;
}

.section1 {
	color: #fffff2;
	padding-bottom: 10%;
}

.main-title {
	font-size: 100px;
}

@media screen and (max-width: 600px) {
  .main-title {
    font-size: 50px;
  }
}

.main-title-p {
	font-size: 25px;
}

@media screen and (max-width: 600px) {
  .main-title-p {
    font-size: 15px;
  }
}

#carousel {
	width: ;
}

.carousel-container {
	width: 55%;
	margin: auto;
}

@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 95%;
  }
}

.carousel {
  margin: 0 auto;
}

.section2 {
	background-color: rgba(149, 165, 166, .3);
	border-radius: 20px;
	padding-bottom: 20px;
	padding-top: 20px;

}

.about-me-name {
	text-align: center;
}

.prof-pic {
	border-radius: 50%;
	max-width: 90%;
}

.about-me {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
}

.footer {
	background-color: ;
}

.cic {
	background-color: ;
	border-radius: ;
}

.fa {  
  	width: auto;
  	padding: 15px;
  	font-size: 20px;
  	text-align: center;
  	text-decoration: none;
  	margin: 0px 10px;
  	color: white;
  	border-radius: 50%; 
  }

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
  	background: #007bb5;
}

.fa-facebook {
	background: #3B5998;
}

.fa-youtube {
	background: #bb0000;
}

.navi:hover {
	opacity: 0.7;
}

#face {
	padding: 15px 20px;
}

.footname {
	font-size: 25px;
	color: #fffff2;
	line-height: 0.5em;
}

.footer-li {
	display: inline-block;
	padding: 0px 10px;
	color: #fffff2;
}

.navbot a {
	text-decoration: none;
	color: #fffff2;
}

.navbot {
	text-align: center;	
}

